<launch>
  <arg name="map_file" default="$(find project4)/maps/gmapping.yaml"/>
  <arg name="bag_file" default="$(find project4)/bagfiles/laserData2.bag"/>

  <param name="use_sim_time" value="true" />

  <!-- Replay bag file-->
  <node pkg="rosbag" name="play" type="play" args="$(arg bag_file)"/>

  <!-- Run gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="replay_map" args="scan:=/front/scan"/>

 <!-- Run the map server -->
 <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/> -->
</launch>
